.logout_box {
  padding: 5px 10px;
  color: var(--black);
  font-weight: 500;
  border: 2px solid var(--black);
  background-color: var(--white);

  cursor: pointer;

  position: absolute;
  top: 20px;
  right: 10%;

  &:hover {
    color: var(--bgBlue);
  }
}

.contain {
  height: 90vh;
  min-width: 30rem;
  width: 90%;
  max-width: 70rem;
  padding: 2rem 2rem 3rem;
  background-color: var(--white);

  h1 {
    margin: 0;
    margin-bottom: 1.5rem;
  }

  .form {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
  }

  .boxItem {
    height: 39vh;
    overflow-y: scroll;
  }
}

@media screen and (min-width: 550px) {
  .contain {
    padding-left: 4rem;
    padding-right: 4rem;
  }
}

@media screen and (min-width: 600px) {
  .contain {
    .boxItem {
      padding: 2rem 5rem 2rem 0rem;
    }
  }
}