
.contain {
  height: 90vh;
  min-width: 30rem;
  width: 70%;
  max-width: 100rem;
  padding: 2rem 4rem 3rem;
  background-color: var(--white);

  h1 {
    margin: 0;
    margin-bottom: 1.5rem;
  }

  .form {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
  }

  .boxItem {
    height: 45vh;
    padding: 2rem 5rem 2rem 0rem;
    overflow-y: scroll;
  }
}